<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue学习</title>
    <link rel="stylesheet" href="./css/index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
</head>
<body>
    <div id="vue-app">
      <select v-model="selected">
          <option v-for="option in options" v-bind:value="option.value">
              {{option.text}}
          </option>
        </select>
        <br>
        <span>selected: {{selected}}</span>
    </div>
    <script src="./js/index.js"></script>
</body>
</html>